# Global Metal: Exploratory Data Analysis
## Data Loading & Initial Inspection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")
plt.rcParams["figure.figsize"] = (12, 6)

print("Libraries loaded successfully")

Libraries loaded successfully

In [2]:
# Update the filename to match what you downloaded
df = pd.read_csv("../data/metal_bands.csv", low_memory=False)
print(f"Dataset shape: {df.shape}")
df.columns.tolist()

Dataset shape: (183397, 7)

['Band ID', 'Name', 'URL', 'Country', 'Genre', 'Status', 'Photo_URL']

In [3]:
df.head()

,Band ID,Name,URL,Country,Genre,Status,Photo_URL
0,3540442600,A // Solution,https://www.metal-archives.com/bands/A_--_Solu...,United States,Crust Punk/Thrash Metal,Split-up,NaN
1,3540525193,A Black Cold Diamond,https://www.metal-archives.com/bands/A_Black_C...,Colombia,Heavy/Doom Metal,Active,https://www.metal-archives.com/images/3/5/4/0/...
2,3540473101,A Billion Limbs,https://www.metal-archives.com/bands/A_Billion...,United Kingdom,Groove Metal/Deathcore,Active,NaN
3,3540535978,A Band Named Jon,https://www.metal-archives.com/bands/A_Band_Na...,United States,Brutal Death Metal/Grindcore,Active,https://www.metal-archives.com/images/3/5/4/0/...
4,3540352307,A Balance of Power,https://www.metal-archives.com/bands/A_Balance...,United States,Melodic Death Metal/Metalcore,Active,https://www.metal-archives.com/images/3/5/4/0/...

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 183397 entries, 0 to 183396
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Band ID    183397 non-null  object
 1   Name       183394 non-null  str
 2   URL        183397 non-null  str
 3   Country    183397 non-null  str
 4   Genre      183397 non-null  str
 5   Status     183397 non-null  str
 6   Photo_URL  129481 non-null  str
dtypes: object(1), str(6)
memory usage: 9.8+ MB

In [5]:
df.isnull().sum()

Band ID          0
Name             3
URL              0
Country          0
Genre            0
Status           0
Photo_URL    53916
dtype: int64

In [6]:
print(f"Unique countries: {df['Country'].nunique()}")
print(f"Unique genres: {df['Genre'].nunique()}")
print(f"Unique statuses: {df['Status'].nunique()}")
print(f"\nStatus values:\n{df['Status'].value_counts()}")

Unique countries: 157
Unique genres: 11512
Unique statuses: 6

Status values:
Status
Active          101317
Split-up         55254
Unknown          15579
Changed name      7273
On hold           3946
Disputed            28
Name: count, dtype: int64